{% extends "master.html" %}

{% block content %}
<h1> <a href="https://github.com/{{ selection.naam }}/" target="_blank">{{ selection.naam }}  </a></h1>

<table class="table">
    <tbody>
        <td>{% if back_from_int >= 0: %}
            <a href="/showgithub/{{ selection.id }}/change/{{ back_from_int }}/{{ back_to_int }}/{{false_positive}}/"> previous </a><br></td>
            {% endif %}
        <td>
            <a href="/showgithub/{{ selection.id }}/change/{{ from_int }}/{{ to_int }}/{{false_positive}}/">next </a>
        </td>
    <td>{% if commits is defined and commits|length: %}
        <td><a href="https://github.com/{{ selection.naam }}/commit/{{ commits[0][7] }}" target="_blank">commit op github </a></td>
        {% endif %}
    </td>
    </tbody>
</table>

{% if commits is defined and commits|length: %}
<form  id="change_form" autocomplete="off">
        <input  id="table_id" name="table_id" value={{ commits[0][11] }}>
        <label for="gecontroleerd">gecontroleerd: </label>
        <label style="width: 500px">
            <input type="checkbox" id="gecontroleerd" name="gecontroleerd" val={{ commits[0][8] }}  disabled="true"  {% if commits[0][8] %} checked {% endif %}>
            <input type="hidden"  id="gecontroleerd_val" value={{ commits[0][8] }} disabled="true">
        </label>
        <label for="akkoord">akkoord: </label>
        <label style="width: 500px">
            <input type="checkbox" id="akkoord" name="akkoord" val={{ commits[0][9] }} {% if commits[0][9] %} checked {% endif %} >
            <input type="hidden"  id="akkoord_val" value={{ commits[0][9] }} disabled="true">
        </label>
        <label for="opmerking">Opmerkingen: </label>
        <input type="text" id="opmerking" name="opmerking"
               value={{ commits[0][10] }}>
        <input type="submit" id="submit_change">
    </form>
 {% endif %}

<table class="table">
    <thead>
    <tr>
        <th scope="col">id bw zoekterm</th>
        <th scope="col">zoekterm</th>
        <th scope="col">falsepositive</th>
        <th scope="col">regelnummers</th>
        <th scope="col">id bestandswijziging</th>
        <th scope="col">remark</th>
    </tr>
    </thead>
    <tbody>
    {% for commit in commits %}
    <tr>
        <td>{{ commit[0] }}</td>
        <td>{{ commit[1] }}</td>
        <td>{{ commit[2] }}</td>
        <td>{{ commit[3] }}</td>
        <td>{{ commit[4] }}</td>
        <td>{{ commit[6] }}</td>
    <tr>
        <td colspan="6"> {% for selection in commit[12] %}
            <div class="content" style="display: flex;flex-direction: row;flex-wrap: wrap;align-items: stretch; margin: 5px">
                <div style="margin: 5px">
                    <div><b>difftext</b></div>
                    {% if selection.difftext %}
                    <div class="box">
                        <pre>{{ selection.difftext }}</pre>
                    </div>
                    {% else %}
                    <div>
                        <pre>geen difftext, file verplaatst</pre>
                    </div>
                    {% endif %}

                </div>
                <div style="margin: 5px">
                    <div><b>{{ selection.filename }} after update</b></div>
                    {% if selection.tekstachteraf %}
                    <div class="box">
                        <pre>{{ selection.tekstachteraf }}</pre>
                    </div>
                    {% else %}
                    <div>
                        <pre>file verwijderd of verplaatst</pre>
                    </div>
                    {% endif %}
                </div>

            </div>
            <hr>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<table class="table">
    <tbody>
        <td>{% if back_from_int >= 0: %}
            <a href="/showgithub/{{ selection.id }}/change/{{ back_from_int }}/{{ back_to_int }}/{{false_positive}}/"> previous </a><br></td>
            {% endif %}
        <td>
            <a href="/showgithub/{{ selection.id }}/change/{{ from_int }}/{{ to_int }}/{{false_positive}}/">next </a>
        </td>
    </tbody>
</table>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/change.js') }}"></script>
{% endblock %}