{% extends "master.html" %}

{% block content %}
<h1>{{ selection.naam }}</h1>
{% if back_from_int >= 0: %}
<a href="/showgithub/{{ selection.id }}/detail/{{ back_from_int }}/{{ back_to_int }}/"> previous 10 </a><br>
{% endif %}
<a href="/showgithub/{{ selection.id }}/detail/{{ from_int }}/{{ to_int }}/">next 10 </a>
<table class="table">
    <thead>
    <tr>
        <th scope="col">commit_date_time</th>
        <th scope="col">username</th>
        <th scope="col">email_address</th>
        <th scope="col">remark</th>
    </tr>
    </thead>
    <tbody>
    {% for commit in commits %}
    <tr>
        <td>{{ commit.commitdatumtijd }}</td>
        <td>{{ commit.username }}</td>
        <td>{{ commit.emailaddress }}</td>
        <td>{{ commit.remark }}</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="5"> {% for selection in commit.selections_with_mc %}
            <div style="display: flex">
                <div>
                    <div><b>{{ selection.filename }} after update</b></div>
                    <div class="box">
                        <pre>{{ selection.text_after_analysed }}</pre>
                    </div>
                    <div class="box">
                        {% if selection.multicore_found | length > 0: %}
                        <pre style="color: green">{{ selection.multicore_found }}</pre>
                        {% else %}
                        <pre style="color: red">no primitives found</pre>
                        {% endif %}
                    </div>
                </div>
                <div>
                    <div><b>diff</b></div>
                    <div class="box">
                        <pre>{{ selection.diff_text_analysed }}</pre>
                    </div>
                    <div class="box">
                        {% if selection.diff_text_multicore_found | length > 0: %}
                        <pre style="color: green">{{ selection.diff_text_multicore_found }}</pre>
                        {% else %}
                        <pre style="color: red">no primitives found</pre>
                        {% endif %}
                    </div>
                </div>
            </div>
            <hr>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% if back_from_int >= 0: %}
<a href="/showgithub/{{ selection.id }}/detail/{{ back_from_int }}/{{ back_to_int }}/"> previous 10 </a> <br>
{% endif %}
<a href="/showgithub/{{ selection.id }}/detail/{{ from_int }}/{{ to_int }}/">next 10 </a>

{% endblock %}