{% extends "master.html" %}

{% block content %}
<h1><a href="/">{{ selection.naam }}</a></h1>
{% if back_from_int >= 0: %}
<a href="/showgithub/{{ selection.id }}/detail/{{ back_from_int }}/{{ back_to_int }}/"> previous 10 </a><br>
{% endif %}
<a href="/showgithub/{{ selection.id }}/detail/{{ from_int }}/{{ to_int }}/">next 10 </a>
<table class="table">
    <thead>
    <tr>
        <th scope="col">commit_date_time</th>
        <th scope="col">author_id</th>
        <th scope="col">remark</th>
    </tr>
    </thead>
    <tbody>
    {% for commit in commits %}
    <tr>
        <td>{{ commit.commitdatumtijd }}</td>
        <td>{{ commit.author_id }}</td>
        <td>{{ commit.remark }}</td>
    </tr>
    <tr >
        <td colspan="3"> {% for selection in commit.selections_with_mc %}
            <div style="display: flex">
                <div>
                    <div><b>{{ selection.filename }} after update</b></div>
                    <div class="box">
                        <pre>{{ selection.tekstachteraf }}</pre>
                    </div>
                </div>
                <div>
                    <div><b>diff</b></div>
                    <div class="box">
                        <pre>{{ selection.difftext }}</pre>
                    </div>
                    <div class="box">
                        <pre>{{ selection.diff_nl }}</pre>
                        <pre>{{ selection.diff_ol }}</pre>
                    </div>
                </div>
            </div>
            <hr>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% if back_from_int >= 0: %}
<a href="/showgithub/{{ selection.id }}/detail/{{ back_from_int }}/{{ back_to_int }}/"> previous 10 </a> <br>
{% endif %}
<a href="/showgithub/{{ selection.id }}/detail/{{ from_int }}/{{ to_int }}/">next 10 </a>

{% endblock %}