{% extends "master.html" %}

{% block content %}
<h1><a href="/">{{ selection.naam }}</a></h1>
{% if back_from_int >= 0: %}
<a href="/showgithub/{{ selection.id }}/detail/{{ back_from_int }}/{{ back_to_int }}/"> previous 10 </a><br>
{% endif %}
<a href="/showgithub/{{ selection.id }}/detail/{{ from_int }}/{{ to_int }}/">next 10 </a>
<table class="table">
    <thead>
    <tr>
        <th scope="col">commit id</th>
        <th scope="col">commit_date_time</th>
        <th scope="col">author_id</th>
        <th scope="col">remark</th>
    </tr>
    </thead>
    <tbody>
    {% for commit in commits %}
    <tr>
        <td>{{ commit[0] }}</td>
        <td>{{ commit[1] }}</td>
        <td>{{ commit[2] }}</td>
        <td>{{ commit[3] }}</td>
    </tr>
    <tr>
        <td colspan="4"> {% for selection in commit[4] %}
            <div class="content" style="display: flex;flex-direction: row;flex-wrap: wrap;align-items: stretch; margin: 5px">
                <div style="margin: 5px">
                    <div><b>difftext</b></div>
                    {% if selection.difftext %}
                    <div class="box">
                        <pre>{{ selection.difftext }}</pre>
                    </div>
                    {% else %}
                    <div>
                        <pre>geen difftext, file verplaatst</pre>
                    </div>
                    {% endif %}

                </div>
                <div style="margin: 5px">
                    <div><b>{{ selection.filename }} after update</b></div>
                    {% if selection.tekstachteraf %}
                    <div class="box">
                        <pre>{{ selection.tekstachteraf }}</pre>
                    </div>
                    {% else %}
                    <div>
                        <pre>file verwijderd of verplaatst</pre>
                    </div>
                    {% endif %}
                </div>
                <div style="margin: 5px">
                    <div><b>changed or added lines with keywords</b></div>
                    {% if selection.diff_nl|length > 0 %}
                    <div class="box">
                        <pre>{{ selection.diff_nl }}</pre>
                    </div>
                    {% else %}
                    <div>
                        <pre>geen regels met keywords</pre>
                    </div>
                    {% endif %}
                    <div><b>removed lines with keywords</b></div>
                    {% if selection.diff_ol|length > 0 %}
                    <div class="box">
                        <pre>{{ selection.diff_ol }}</pre>
                    </div>
                    {% else %}
                    <div>
                        <pre>geen regels met keywords</pre>
                    </div>
                    {% endif %}
                </div>

                <div style="margin: 5px">
                    <div><b>simple search tekstachteraf</b></div>
                    {% if selection.simple_search %}
                    <div class="box">
                        <pre>{{ selection.simple_search }}</pre>
                    </div>
                    {% else %}
                    <div>
                        <pre>geen simple search results</pre>
                    </div>
                    {% endif %}

                </div>
            </div>
            <hr>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% if back_from_int >= 0: %}
<a href="/showgithub/{{ selection.id }}/detail/{{ back_from_int }}/{{ back_to_int }}/"> previous 10 </a> <br>
{% endif %}
<a href="/showgithub/{{ selection.id }}/detail/{{ from_int }}/{{ to_int }}/">next 10 </a>

{% endblock %}