{% extends "master.html" %}

{% block content %}
<h1><a href="/">{{ selection.naam }}</a></h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">commit_date_time</th>
        <th scope="col">username</th>
        <th scope="col">files</th>
        <th scope="col">remark</th>
    </tr>
    </thead>
    <tbody>
    {% for commit in commits %}
    <tr>
        <td>{{ commit.commitdatumtijd }}</td>
        <td>{{ commit.username }}<br />
            {{ commit.emailaddress }}
        </td>
        <td>
            {% for selection in commit.selections_with_mc %}

            {{ selection.locatie }}
            <br>

            <div class="box">
                {% if selection.diff_text_multicore_found | length > 0: %}
                <pre style="color: green">{{ selection.diff_text_multicore_found }}</pre>
                {% else %}
                <pre style="color: red">no primitives found</pre>
                {% endif %}
            </div>


            <hr>
            {% endfor %}
        </td>
        <td>{{ commit.remark }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}