{% extends "master_content.html" %}
{% block content %}
<div id="form-holder">
    <form action="/manual_comments/save/" method="post" id="manual_comments" autocomplete="off">
        <input type="hidden" class="form-control" id="idproject" name="idproject"
               value="{{ manual_checking.idproject }}">
        <label for="comment">Comment</label>
<textarea id="comment" name="comment" rows="6" cols="50" style="width:448px;resize: none">{{  manual_checking.comment }}</textarea>
        <label for="type_of_project">Type project</label>
        <input type="text" class="form-control" id="type_of_project" name="type_of_project"
               placeholder="type project"
               value="{{  manual_checking.type_of_project }}" list="project-type">
        <datalist id="project-type">
            <label>
                <select>
                    <option value="Webserver"></option>
                    <option value="Job processing"></option>
                    <option value="Package manager"></option>
                    <option value="Game"></option>
                    <option value="Chat application"></option>
                    <option value="Bot"></option>
                    <option value="Email library"></option>
                    <option value="Project manager"></option>
                    <option value="Server rendering html"></option>
                </select>
            </label>
        </datalist>

        <label for="exclude">Uitsluiten?</label>
        <input type="text" class="form-control" id="exclude" name="exclude"
               value="{{  manual_checking.exclude }}">

        <label for="exclude_reason">Uitsluit reden</label>
        <input type="text" class="form-control" id="exclude_reason" name="exclude_reason"
               placeholder="uitsluit reden"
               value="{{  manual_checking.exclude_reason }}">


        <input type="submit" class="bi bi-save">

    </form>
</div>
{% endblock %}