<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Commit extractor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>
<article>
    <header class="Header">
        <h1 class="Strap">Commit extractor</h1>
    </header>
    {% block content %}
    {% endblock %}
</article>
<footer>
    Made for analysis of commits
</footer>
<script src="{{ url_for('static', filename='js/js.js') }}"></script>
</body>
</html>