{% extends "master.html" %}
{% block content %}
<script type="text/javascript">
    function newSrc(newSrc,project_name) {
        document.getElementById("MyFrame").src = newSrc;
        document.getElementById("aantekeningen").innerHTML = project_name;
    }
</script>
<main>
    <div style="display: flex" class="split">
        <section>
            <hgroup>
                <h1>Latest selected projects</h1>
                <p>geselecteerde projecten</p>
            </hgroup>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">project_id</th>
                    <th scope="col">to github</th>
                    <th scope="col">name</th>
                    <th scope="col">comments</th>
                    <th scope="col">commits</th>
                    <th scope="col">contributors</th>
                    <th scope="col">created_at</th>
                    <th scope="col">last_commit</th>
                </tr>
                </thead>
                <tbody>
                {% for project in latest_selection_list %}
                <tr>
                    <th scope="row">{{ project.id }}</th>
                    <th scope="row"><a href="https://github.com/{{ project.naam }}" target="_blank">github.com/{{
                        project.naam }}</a></th>
                    <th scope="row"><a href="/showgithub/{{ project.id }}/detail/">show imported commits</a></th>
                    <th scope="row">
                        <button onClick="newSrc('/manual_comments/save/?mc_id={{project.id}}','{{ project.naam }}');">toon opmerkingen
                        </button>
                    </th>
                    <td>{{ project.aantal_commits }}</td>
                    <td>{{ project.contributors }}</td>
                    <td>{{ project.create_date }}</td>
                    <td>{{ project.last_commit }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
        <section>
            <hgroup>
                <h1>Aantekeningen</h1>
                <p>project <span id="aantekeningen"></span></p>
            </hgroup>
            <div class="embed-container">
                <iframe id="MyFrame" allowfullscreen></iframe>
            </div>
        </section>
    </div>
</main>
{% endblock %}