html,
body {
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
    color: #444444;
}

html {
    height: 100%;
}

footer {
    background-color: violet;
    color: #fff;
    padding: 1.5rem;
}

main {
    flex-grow: 2;
    padding: 5px;
}

body {
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}


/* table */

table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #ddd;
    font-size: 0.9rem;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

th {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

td {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.align-right {
    text-align: right;
}


.embed-container {
    position: relative;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 500px;
    width: 500px;
    margin-top:100px;
}

.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    border: 0;
}

.split {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

dialog {
    border-radius: 10px;
    border: 1px solid #111;
    box-shadow: 0 5px 5px -5px;
}

dialog::backdrop {
    animation: fade 0.5s ease forwards;
    background: rgba(46, 145, 231, 0.5);
}


@keyframes fade {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: rgb(220 220 220 / 0.5);
    }
}

.btn {
    border: 0;
    background-color: transparent;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 5px;
}

.btn-primary {
    color: #fff;
    background-color: #f90;
    border-color: #f90;
    width: 40px;
    height: 40px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #fa0;
    border-color: #fa0;
}

.btn-functional {
    color: #fff;
    background-color: #444;
    border-color: #444;
    width: 40px;
    height: 40px;
}

.btn-functional:hover {
    color: #fff;
    background-color: #555;
    border-color: #555;
}


.container {
    background-color: indigo;
    font-family: "Oswald", sans-serif;
    font-size: 1rem;
    min-height: 2.75rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.item,
.last-item {
    color: #ebebeb;
    text-decoration: none;
}

.item {
    margin-right: 1rem;
}

.last-item {
    margin-left: auto;
}


/* forms */
input:placeholder-shown {
    color: #333;
}

#manual_comments {
    max-width: calc((100% - 6px));
    max-height: calc((100% - 6px));

}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#form-holder {
    border-radius: 5px;
    padding: 20px;
}

a {
    color: darkblue;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}
